

<h1>This looks like a job for Superman</h1>

<script>
$(document).on('turbolinks:load', function(){
    $.backstretch([
          "<%= asset_path 'superman' %>"

    ]);

});
</script>



<form action="<%= pages_save_superman_path %>" method="POST">
		<%= hidden_field_tag :authenticity_token,
		form_authenticity_token %>
			Nombre:<input name="nombre">
			Email:<input name="email">
			<input type="submit" value="enviar">
		</form>